version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: python3 run.py --host 0.0.0.0
    image: docker-registry.cityapl.com/cityapl_messaging_service
    volumes:
      - .:/app
    ports: 
      - 5001:5001
    restart: on-failure

  redis:
    image: redis:latest
    ports:
      - 6378:6379
  depends_on:
      - rabbitmq


  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    image: docker-registry.cityapl.com/celery_worker_cityapl_messaging_service
    command: /start-celeryworker
    volumes:
      - .:/app
    depends_on:
      - rabbitmq
      - redis

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    image: docker-registry.cityapl.com/celery_beat_cityapl_messaging_service
    command: /start-celerybeat
    depends_on:
      - rabbitmq
      - celery_worker
      - redis

  flower:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    image: docker-registry.cityapl.com/celery_flower_cityapl_messaging_service
    command: /start-flower
    ports:
      - 5558:5555
    depends_on:
      - rabbitmq
      - celery_worker
      - redis
   

  rabbitmq:
    image: "rabbitmq:3.8-management"
    container_name: 'rabbitmq'
    ports:
        - 5672:5672
        - 15672:15672
    environment:
      - RABBITMQ_DEFAULT_USER=cityapl-rabbitmq  # Adapt the credentials to your needs
      - RABBITMQ_DEFAULT_PASS=cityapl
    volumes:
        - ./.docker/rabbitmq/data/:/var/lib/rabbitmq/
        - ./.docker/rabbitmq/logs/:/var/log/rabbitmq/
    depends_on:

